.headerCon{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: start;
  color: white;
  height: 100vh;
  border-bottom: 1px solid #474747;
  gap: 10px;
  padding: 0 70px;
  font-size: 200px;
}