.headBoxContainer{
  width: 150px;
  height: 150px;

}
.headerCon{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: start;
  color: white;
  height: 150px;
  //border: 1px solid #13BD7E;
  gap: 10px;
  font-size: 20px;
}